.App {
  text-align: center;
  color: var(--input-text-color);
  background-color: var(--background-color);
  transition: background-color 300ms linear;
  transition: color 300ms linear;
}

input::placeholder {
  color: var(--input-text-color);
  font-size: 1.2em;
}

.label {
  color: white;
  padding: 8px;
}

.app_container {
  background-color: var(--background-color);
  color: var(--input-text-color);
}

.title {
  text-align: center;
  color: var(--input-text-color);
  background-color: var(--background-color);
  transition: background-color 300ms linear;
  transition: color 300ms linear;
}

:root {
  color: var(--input-text-color);
  background-color: var(--background-color);
}

.app_button,
.app_button:hover,
.app_button:focus,
.app_button:active,
.app_button:not(:disabled):not(.disabled) {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  transition: background-color 300ms linear;
  transition: color 300ms linear;
}
.app_text,
.app_text:focus {
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border-color: var(--input-border-color);
  transition: background-color 300ms linear;
  transition: color 300ms linear;
}
.app_homePagetext {
  color: var(--button-text-color);
  background-color: var(--background-color);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
